html
Copy code
<!DOCTYPE html>
<html>
<head>
  <title>Node.js App</title>
</head>
<body>
  <h1>User List</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.name %></li>
    <% }); %>
  </ul>
</body>
</html>
